* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 1rem;
}

header {
  background-color: #f5ba13;
  margin: auto -1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: relative;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  margin-top: 2rem;
}

.empty {
  margin-top: 5rem;
  position: relative;
  text-align: center;
  color: #c6bebe;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 100%;
  transition: all 0.3s ease;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-weight: 900;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 500;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form.create-note {
  position: relative;
  width: 100%;
  max-width: 480px;
  margin: 1.875rem auto 1.25rem auto;
  background: #fff;
  padding: 0.9375rem;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  transition: all 0.3s ease;
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  body {
    padding: 0 2rem;
  }
  header {
    margin: auto -2rem;
  }
  .note {
    width: 45%;
    margin: 1rem;
  }
  form.create-note {
    width: 480px;
  }
}

@media (min-width: 1024px) {
  .note {
    width: 30%;
  }
  .notes-container {
    justify-content: flex-start;
  }
}

@media (hover: hover) {
  .note:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px #ccc;
  }
  form.create-note:hover {
    box-shadow: 0 2px 8px rgb(138, 137, 137);
  }
}
